[user]
	name = Stefan Zweifel
	email = hello@stefanzweifel.io
	signingkey = 49392B0C00D7AB90
[push]
	default = matching
[help]
    	autocorrect = 1
[color]
	ui = true
[github]
    	user = stefanzweifel
[core]
	editor = vim
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[mergetool]
	keepBackup = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[commit]
	gpgsign = true

[gpg]
	program = /usr/local/bin/gpg_wrap