[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "fonts/FiraCode"]
	path = fonts/FiraCode
	url = git@github.com:tonsky/FiraCode.git
[submodule "iterm/themes/seti-theme"]
	path = iterm/themes/seti-theme
	url = git@github.com:philduffy/seti-iterm.git
[submodule "iterm/themes/material-theme"]
	path = iterm/themes/material-theme
	url = git@github.com:stoeffel/material-iterm.git
[submodule "iterm/themes/dracula-theme"]
	path = iterm/themes/dracula-theme
	url = git@github.com:zenorocha/dracula-theme.git
